body{ background-color: burlywood
}

.container {
    justify-content: space-between;
    
    display: flex;
    flex-wrap: wrap;

}
#bioPage { 
    border: solid 1px blue;
    width: 30%;
    box-shadow: 5px 10px; 

}

technologiesPage {
    border: solid 1px black
    width: 30%
}

h2 { text-align: center

}

img { text-align:

}

.title{
    
}

