body{ background-color: whitesmoke;
    text-align: center;
}
/* id = # class= '.' */
#projectsPage{
    justify-content:space-around;
    border: solid 1px #b3b3b3;
    display: flex;
    flex-wrap: wrap;

}
#bioPage { 
    box-shadow: 3px 4px;
    border: solid 5px #b3b3b3;
    width: 100%;
    box-shadow: 5px 10px; 

}

#technologiesPage { 
    box-shadow: 3px 4px;
    border: solid 5px #b3b3b3;
    width: 30%;
    box-shadow: 5px 10px; 
    background-break: bounding-box;

}
#projectsPage{ 
    box-shadow: 3px 4px;
    border: solid 5px #b3b3b3;
    width: 100%;
    box-shadow: 5px 10px; 

}

h3 { 
    background-color: slategray
    border: solid 5px #b3b3b3;
    width: 100%;
    

}

.fullPage { background-color: blueviolet;
    text-align: center;

}