body{ background-color: whitesmoke;
    text-align: center;
}
/* id = # class= '.' */
#projectsPage{
  justify-content:space-evenly;
  border: solid 1px #b3b3b3;
  display: flex;
  flex-wrap: wrap;
.projectsPage {
  

}
}
#bioPage { 
  border: solid 5px #b3b3b3;
  width: 100%
  

}

#technologiesPage { 
  text-align: center;
  box-shadow: 30px 40px;
  border: solid 5px #b3b3b3;
  text-align: center;
  color: white;

}
#projectsPage{ 
  box-shadow: 3px 4px;
  border: solid 5px #b3b3b3;
  width: 100%;
  box-shadow: 5px 10px; 
  

}

h3 { 
  background-color: slategray
  border: solid 5px #b3b3b3;
  width: 100%;

  

}

.fullPage { background-color: darkgray;
  text-align: center;

}