body{ background: rgb(248, 246, 246)
}


/* id = # class= '.' */


.hide{
  display: none;
}

#projectsPage{
justify-content:space-evenly;
/* border: solid 1px #b3b3b3; */
display: flex;
flex-wrap: wrap;
}

#myName {
  letter-spacing: .9rem;
  margin-bottom: 25px;
  margin-top: .3em;
  text-align: center;
  font-size: 7.20em;
  font-family: -webkit-pictograph;
}

img {
  margin-bottom: 25px;
  border-radius: 125px;
  display: block;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#navLinks {
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-weight: bold;
  font-size: 1.25em;
  margin-top: -1em;
}

#navToBio {
  font-size: 2.25em;
   
}

#navToTechnologies {
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-weight: bold;
  font-size: 1.25em;
  margin-top: -1em;
}

#navToProjects {
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-weight: bold;
  font-size: 1.25em;
  margin-top: -1em;
}

#bioPage { 
/* border: solid 5px #b3b3b3; */
width: 100%
}

.bio1 {     
  margin-left: 30px;
  margin-left: 200;
  margin-right: 200;
  line-height: 2em;
  word-spacing: 1.9;
  padding: 1.5em;
}

#technologiesPage { 
display: block
}

#projectsPage{ 
  box-shadow: 3px 4px;
}

h3 { 
background-color: slategray;
border: solid 5px #b3b3b3;
width: 100%;
}

.fullPage { 
text-align: center;

}

.button-group,
.button-group li{
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.button-group{
  font-size: 0; /* Inline block elements gap - fix */
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

.button-group li{
  margin-right: -1px; /* Overlap each right button border */
}

.button-group .button{
  font-size: 13px; /* Set the font size, different from inherited 0 */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.button-group .button:active{
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, 5px 0 5px -3px rgba(0, 0, 0, .2) inset, -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, 5px 0 5px -3px rgba(0, 0, 0, .2) inset, -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, 5px 0 5px -3px rgba(0, 0, 0, .2) inset, -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
}

.button-group li:first-child .button{
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.button-group li:first-child .button:active{
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
}

.button-group li:last-child .button{
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.button-group li:last-child .button:active{
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, 5px 0 5px -3px rgba(0, 0, 0, .2) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, 5px 0 5px -3px rgba(0, 0, 0, .2) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, 5px 0 5px -3px rgba(0, 0, 0, .2) inset;
}